# Server Configuration
PORT=3000
SECRET_KEY=supersecretkey_change_me
NODE_ENV=production

# Initial Admin Credentials (used only on first database sync)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin

# Puppeteer/Scraper Configuration
TARGET_URL=https://myclub.deporweb.net/public/login
HEADLESS=true

# Schedule Configuration
TIMEZONE=Europe/Madrid
DAYS_AHEAD_BOOKING=2
